<!DOCTYPE html>
<html>
 <head>
  <title><%= title %> </title>
 </head>
 <body>
  <h1>Bienvenido a <%= title %></h1>
  <p>El portal donde puede crear sus propias preguntas</p>
  <p><a href="/quizes/question">Empiece a jugar</a></p>
 </body>
</html>